dotenv
langchain_ollama
langchain_google_genai 
google-generativeai
langchain_community
langchain_nomic
tiktoken
langchainhub
chromadb
langchain
langgraph
tavily-python
bs4
scikit-learn
crawl4ai
requests
mcp[cli]
unstructured
unstructured[md]